#page-form {
    .form-group {
        margin-bottom: 0;
        height: 2rem;
    }
    .field-rowscountform-rowscount {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: end; 
        label {
            flex-basis: max-content;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            padding-right: 10px;  
            margin: 0;  
        }   
        select {
            max-width: 35%;
            font-size: 12px;
            height: 2rem;
            text-align: center;
            padding: 0;
            padding-right: 1.5rem;

        }   
    }
}
.kv-grid-toolbar {
    .btn-group {
        .btn {
            margin: 0 2px 0;
        }
        .btn:not(:first-child) {
            margin: 0 2px 0 20px;
        } 
        
    }
}